<button
  [class.mat-raised-button]="value === values[0]"
  [class.mat-stroked-button]="value === values[1] || value == null"
  [class.mat-primary]="value === values[0]"
  [class.correct]="correct != null && correct === value"
  [class.uncorrect]="correct != null && correct !== value"
  (click)="toggleValue(values[0])">
  {{values[0]}}
</button>
 /
<button
  [class.mat-raised-button]="value === values[1]"
  [class.mat-stroked-button]="value === values[0] || value == null"
  [class.mat-primary]="value === values[1]"
  [class.correct]="correct != null && correct === value"
  [class.uncorrect]="correct != null && correct !== value"
  (click)="toggleValue(values[1])">
  {{values[1]}}
</button>
