:host{
  .photo{
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 1000px
  }
  main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
  }
  .content-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
  }
  .start-btn{
    width: 250px;
  }
}
