<div class="question-container">
  <div class="question">
    <div class="question-number">
      1
    </div>
    <div class="question-title">
      Давай попробуем соединить слова вместе с картинкой!
    </div>
    <div class="question-example">

    </div>
    <div class="question-answer">
     <app-select-image [wordsList]="['Presents', 'Christmas tree', 'Snowflake', 'Ball', 'Bow', 'Santa Claus', 'Snowman', 'Reindeer', 'Stocking']"></app-select-image>
    </div>

  </div>
  <mat-divider></mat-divider>
</div>
