<div class="question-container">
  <div class="question">
      <h1>My tasty Motherland!</h1>
      <p>Давайте вместе узнаем о традициях новогоднего стола в нашей родной Удмуртии! Нам понадобится команда из 4 друзей, в которой каждый будет выполнять свои обязанности, отвечая за определенный раздел</p>
      <div>
        <h2>Что же нужно сделать?</h2>
        <div class="steps">
          <div class="step">
            <div class="question-number">
              1
            </div>
            <div>
              Узнать больше о традиционных блюдах Удмуртии
            </div>
          </div>
          <div class="step">
            <div class="question-number">
              2
            </div>
            <div>
              Написать рецепты и историю их появления
            </div>
          </div>
          <div class="step">
            <div class="question-number">
              3
            </div>
            <div>
              Подготовить видео о том, как приготовить несколько из них
            </div>
          </div>

        </div>
      </div>
      <div>
        <h2 style="margin-top: 1rem">Полезные ссылки</h2>
        <div class="links">
          <a href="https://www.gastronom.ru/text/top-samyh-izvestnyh-bljud-udmurtskoj-kuhni-1009670">https://www.gastronom.ru/text/top-samyh-izvestnyh-bljud-udmurtskoj-kuhni-1009670</a>
          <a href="https://fb.ru/article/391172/natsionalnyie-blyuda-udmurtov-spisok-retseptov-s-foto">https://fb.ru/article/391172/natsionalnyie-blyuda-udmurtov-spisok-retseptov-s-foto</a>
          <a href="https://zen.yandex.ru/media/rylce_s_vami/kuhnia-narodov-rossii-gostepriimnyi-ijevsk-udmurtiia-5eeb97e95f3d8704002824ad">https://zen.yandex.ru/media/rylce_s_vami/kuhnia-narodov-rossii-gostepriimnyi-ijevsk-udmurtiia-5eeb97e95f3d8704002824ad</a>
          <a href="https://udmpravda.ru/2020/03/27/kirill-barkov-udmurtskaya-kuhnya-eto-ne-tolko-perepechi-eto-tradiczii/">https://udmpravda.ru/2020/03/27/kirill-barkov-udmurtskaya-kuhnya-eto-ne-tolko-perepechi-eto-tradiczii/</a>
        </div>
      </div>
    <div>
      <h2 style="margin-top: 1rem">Что нужно сделать, чтобы получить 5?</h2>
      <div class="marks">
        <ul>
          <li>Красивое и яркое оформление</li>
          <li>Грамматически верно построенные предложения</li>
          <li>Использование слов из урока</li>
          <li>Логическая структура при защите проекта в классе</li>
          <li>Соблюдение сроков сдачи проекта (до 29.12)</li>

        </ul>
      </div>
    </div>
    <div class="project-image" style="display: flex; justify-content: center">
      <img src="assets/img/img11.png" alt="img11">
    </div>
    <h2>
      I wish you good luck! Don’t be afraid of creativity.
    </h2>
  </div>
</div>
